body {
    background: #f2f4f8;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    margin-top: 0;
    text-align: center;
}

.subtitle {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 14px;
}

label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 7px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.btn {
  border-radius: 999px;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.1s ease;
}

.btn-primary {
    width: 100%;
    background: #007bff;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-simple {
    background: var(--primary);
  color: #fff;
  box-shadow: 0 4px 10px rgba(37, 99, 235, 0.3);
}

.btn-primary:hover {
    background: #005fc2;
}

.btn-ghost {
  background: transparent;
  color: var(--muted);
  border: 1px solid var(--border);
}

.btn-ghost:hover {
  background: #f3f4f6;
}

.form-footer {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

.alert {
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 14px;
}

.alert-danger {
    background: #ffdede;
    color: #900;
}

.alert-success {
    background: #d3ffd9;
    color: #065f1b;
}

/*Modal =======================================================*/
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: none; /* hidden by default */
  align-items: center;
  justify-content: center;
  z-index: 999;
}
/*The type of modal that appears at a specific location on the screen*/
.modal-dynamic{
  position: absolute;
  background: blue;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  pointer-events: auto;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.modal.show {
  display: flex;
}

.modal-content {
  background: #1f1e1e;
  padding: 24px;
  border-radius: 12px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.modal-content h3 {
  margin-top: 0;
  margin-bottom: 16px;
}
.modal-content input {
  width: 100%;
  margin-bottom: 12px;
}