<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Forgot password page that the user is taken to when they click forogt password on login page -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAST - Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Allows the user to enter their email -->
    <div class="container">
        <div class="form-box">
            <h1>CAST - Forgot Password</h1>
            <p class="subtitle">Enter the email associated with your CAST account.</p>
            
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!-- Used for letting the user input their email so the db can get it and verify + send reset -->
            <form method="POST" action="{{ url_for('forgot_password') }}">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <button type="submit" class="btn btn-primary">Send Password Reset Email</button>
            </form>
        </div>
    </div>
</body>
</html>