<!-- Operator control html page for the operator/admin of a group to use -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>operatorcontrols</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Dashboard/dashboard.css') }}">
  <style>
    /* btn-primary styling for changes to buttons */
    .btn-primary{
      display: inline-block;
      padding: 8px 10px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 12px;
      font-weight: 300;
      padding: 10px;
      transition: all 0.2s;
      color: #FFFF;
      text-decoration: none;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    /* scroll panel for the different containers for overflow */
    .scroll-panel {
      background: rgba(17,26,46,.75);
      border: 1px solid var(--border);
      border-radius: 16px;
      padding: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
      max-height: 250px;
      overflow-y: auto;
      overflow-x: auto;
    }
    /* section css fix for small things */
    .section {
      margin-bottom: 20px;
    }
  </style>
</head>

<body>
    <div class="layout">

    <aside class="left-sidebar">
      <section class="section">
        <h3>Home</h3>
        <div class="button-group">
          <a class="item" href="{{ url_for('main_dashboard') }}">Dashboard</a>
          <a class="item" href="{{ url_for('targets') }}">Manage Targets</a>
          <a class="item" href="{{ url_for('profile') }}">profile</a>
        </div>
      </section>
    </aside>

    <!-- Section for the operator controls to be used -->
    <main class="main">
        <header class="topbar">
        <div>
          <h1>Operator Controls</h1>
          <p class="sub">For Group Experiments</p>
        </div>
        <a class="btn-primary" href="{{ url_for('main_dashboard') }}">back</a>
    </header>

  <div style="display:flex; gap:20px; margin-top:20px;"">

  
  <div style="flex:1;">
    <section class="section">
    <!-- Section for the groups that the admin is a part of -->
      <h3>Groups You Are Admin Of</h3>
      <div class="scroll-panel">
      {% for group in operator_admin_groups %}
        <div class="item">
          <!-- <a href="?group_id={{ group.group_id }}"> -->
          <a class="btn-primary" href="?group_id={{ group.group_id }}&type={{ view_type or 'pending' }}">
            {{ group.name }}
          </a>
          {% if selected_group_id|string == group.group_id|string %}
            <div style="margin-left: 15px;">
            <!-- pending requests from users in the group -->
              <a class="btn-primary" href="?group_id={{ group.group_id }}&type=pending">
                Pending Requests
              </a>
              <br>
              <!-- request history from users in the group -->
              <a class="btn-primary" href="?group_id={{ group.group_id }}&type=all">
                Request History
              </a>
            </div>
          {% endif %}
        </div>
      {% endfor %}
      </div>
    </section>
  </div>

  <!-- section for displaying the requests -->
  <div style="flex:1;">
    <section class="section">
      <h3>Requests</h3>
      <div class="scroll-panel">
      {% if requests %}
      <!-- shows all the requests -->
        {% for indv_request in requests %}
          <div class="item">
            <a class="btn-primary" href="?group_id={{ selected_group_id }}&type={{ view_type }}&request_id={{ indv_request._id }}">
             <strong>User:</strong> {{ indv_request.username }}<br>
             <strong>Attack:</strong> {{ indv_request.module or indv_request.attack_type or "N/A" }}
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="item">No requests found</p>
      {% endif %}
    </div>
    </section>
    <!-- Section to display the details of the specific user request-->
    {% if request_details %}
      <section class="section">
        <h3>Details</h3>
        <div class="panel">
          <p><strong>User:</strong> {{ request_details.username }}</p>
           <p>Module: {{ request_details.module }}</p>
           <p>Attempts: {{ request_details.attempts }}</p>
           <p>Rate Limit: {{ request_details.rate_limit }}</p>
           <p>Target ID: {{ request_details.target_id }}</p>
           <p>Created at: {{ request_details.created_at }}</p>
          <p>Status: {{ request_details.status }}</p>
          {% if request_details.status == "pending" %}
            <button onclick="approveRequest('{{ request_details._id }}')">Approve</button>
            <button onclick="denyRequest('{{ request_details._id }}')">Deny</button>
    {% endif %}
      </div>
      </section>
    {% endif %}
    </div>
    
    <!-- section for listing the group members in the specific group -->
    <div style="flex:1;">
    <section class="section">
    <h3>Group Members</h3>
    {% if selected_group_id %}
      <div class="scroll-panel">
      <!-- <section class=""section> -->
        {% if group_member_list %}
          {% for member in group_member_list %}
            <div class="item">
              <a class="btn-primary" href="?group_id={{ selected_group_id }}&type=users&target_user_id={{ member.user_id }}">
                {{ member.username }}
              </a>
            </div>
          {% endfor %}
      {% else %}
          <p class="item">No group members found</p>
      {% endif %}
    </div>
    {% endif %}
    </section>
    </div>
  </div>

</div>
</main>
</div>
</body>
</html>

<!-- java sctipt functions -->
<script>
  // js function for operator to approve request
  function approveRequest(id){
    fetch(`/approve/${id}`, {
      method: "POST",
      headers: {"Content-Type": "application/json"},
      body: JSON.stringify({
        group_id: "{{ selected_group_id }}"
      })
    })
    .then(response => response.json())
    .then(data => {
      alert(data.message);
      location.reload();
    })
  }
  // js function to deny request
  function denyRequest(id){
    fetch(`/deny/${id}`, {
      method: "POST",
      headers: {"Content-Type": "application/json"},
      body: JSON.stringify({
        group_id: "{{ selected_group_id }}"
      })
    })
    .then(response => response.json())
    .then(data => {
      alert(data.message);
      location.reload();
    })
  }
</script>